/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

ul,
ol {
    list-style: none;
    font-size: 14px;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* LAYOUT */
.container{
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-16{
    width: 33%;
}

.card {
    padding: 10px;
}

/* HEADER */













/* MAIN */
.text-box{
    padding: 0 0 20px 0;
    line-height: 16px;
}

.bxs-heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 16px;
    border-radius: 10px 0 0 10px
}

.bxs-heart:hover{
    color: red;
}

.badges {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    gap: 8px;
}

.discount-badge{
    background-color: red;
    color: white;
    padding: 2px 14px;
}

.eco-badge{
    background-color: green;
    color: white;
    padding: 2px 14px;
}














/* UTILITIES */
.basis-33{
    flex-basis: 33%;
}

.fs-14{
    font-size: 14px;
}

.color-red{
    color: red;
}

.color-white{
    color: white;
}

.pos-rel{
    position: relative;
}




/* DEBUG */
.container.debug .col-16 {
    border: 1px solid black;
}